.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    margin-top: 40px ;
    margin-left:  40px;
}
.cart{
    border: 1px solid;
    background-color: black;
    color: white;
    
    padding: 20px;
    position: sticky;
}
.cart-button{
    padding: 10px;
    background-color: #f10086;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    margin: 5px;
}
.carts-product{
    display: flex;
    justify-content: space-around;
    border: 1px solid #ffffff;
    margin:  5px 0 5px 0;
    background-color: #ffffff;
    color: #000000;
}
#chosen-product-header{
    display: none;
}
